
.main-header{
  /* border: 1px solid black; */
  padding: 26px 30px 26px 121px;
  margin: -8px -8px -8px -8px;
  box-shadow: 0px 8px 32px 0px #1C1C1E1A;
  border-radius: 0px 0px 40px 40px;
  font-size: 24px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}